body{
    background-color: black;
    font-family: 'Varela Round', sans-serif;
    color: rgb(165, 237, 83);
   }
  a {
    text-decoration: none;
    color: rgb(172, 4, 244);
    transition: color .5s;
  }
  a:hover {
    text-decoration: none;
    color: rgba(235, 16, 147, 0.57);
  }
  p{
    text-justify: auto;
    font-size: 1.3em;
  }
  th{
    font-size: 2em;
    font-weight: 500;
    
  }
  td{
    font-size: 2em;
    color: rgba(235, 16, 147, 0.57);
    border-bottom: rgb(165, 237, 83) solid;
    padding-top: 0.5em;
  }
  h3{
    font-size: 2.5em;
  }
/* ----- index page-------------*/
.navColor{
  background-color: rgb(172, 4, 244);
}
.jumbotron{
  background-color: black;
  background-position: right;
  border-bottom: rgba(235, 16, 147, 0.57) solid 1em;
}
.hud{
  color: rgba(235, 16, 147, 0.57);
  font-family: 'Nosifer', cursive; 
  font-size: 5em; 
}
.sud{
  color: rgba(235, 16, 147, 0.57);
  font-family: 'Luckiest Guy', cursive; 
  font-size: 2.5em; 
}
  .storelink{
    height: 15em;
  }  
  .storebutton{
    box-shadow: 0px 0px 10px rgb(172, 4, 244),
                5px 5px 10px rgba(235, 16, 147, 0.57);
    margin-bottom: 2rem;
    
    text-align: center;
  }
  .fanPageLink{
   background-color: rgb(34, 36, 36);
   font-size: 3rem;
   margin-bottom: 3rem;
   border-radius: 1rem;
   text-align: center;
   box-shadow: 0px 0px 10px rgb(165, 237, 83);
  }

  .tableHeadTitle{
    color: black;
  }
  .black{
    color: #000;
    font-size: 3em;
  }
  .black:hover{
    color: black;
  }
  .footerNav{
    border-radius: 1rem;
  }
  #spacer{
    height: 15em;
}

.footer{
  border-top:rgba(235, 16, 147, 0.57) 1rem solid;
  border-radius: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;

    
}
.copyright{
    padding: 10px;
    text-align: center;
    color: rgb(165, 237, 83);
}
.textCR{
    font-size: 2em;
    font-family: 'Libre Barcode 39 Text', cursive;
    
}
.jbt{
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 100px;
    
}
   .previous{
    font-size: 2rem;
    background-color: rgb(172, 4, 244);
    color: rgb(165, 237, 83);
    border-radius: 5%;
    margin: 2rem;
    padding: 0rem .3rem;
    box-shadow: 0px 0px 10px rgb(165, 237, 83);
   
    
  }
  
  .next{
    font-size: 2em;
    background-color: rgb(172, 4, 244);
    color: rgb(165, 237, 83);
    border-radius: 5%;
    padding: 0rem .3rem;
    margin: 2rem;
    box-shadow: 0px 0px 10px rgb(165, 237, 83);
    flex: end;
  }
  

 /* ----- featured page-------------*/
 .jumbotron2{
  color: rgba(235, 16, 147, 0.57);
  background-image: url(img/imm-cats.jpg);
  text-align: center;
  border-bottom: rgba(235, 16, 147, 0.57) solid 1em;
  border-top: transparent 1em;
}
.index{
  width: 80%;
}
 .containerF{
  display: flex;
  justify-content: space-around;
  
 }
 .featuredTitle{
  color:rgb(165, 237, 83);
  padding-left: .5em;
  font-size: 4em;
}
 .tableF{
  width: 65%;
 } 
.tdh{
    font-size: 1em;
    color: rgba(235, 16, 147, 0.57);
  }
.tdp{
    font-size: 0.6em;
    color: rgb(165, 237, 83);
  }



.storeParagraph{
  padding-left: .5em;  
}
.books{
    text-align: center;
    padding-bottom: 1em;
   
}
.coloringbook{
    height: 30em;
}
